$background-color: rgba(0, 0, 0, 0.5);
$image-url: 'https://r2.erweima.ai/imgcompressed/img/compressed_e410361d39717cc68bbabc38f55044ee.webp';
$font-family: 'MedievalSharp', serif;
$primary-color: rgb(51, 51, 51);
$hover-color: black;
$text-color: white;
$breakpoint-large: 1090px;

@keyframes slideIn {
    from {
      transform: translateX(-100%); 
      opacity: 0;                  
    }
    to {
      transform: translateX(0);    
      opacity: 1;            
    }
  }

body {
    background-image: linear-gradient($background-color, $background-color), url($image-url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: $font-family; 
    padding: 10px;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    background-color: black;
    border: 2px solid $primary-color;  
    .cabecalho {
        height: 100px;
        max-height: 150px;
    }
}

nav {
    display: flex;
    height: 40px;
    max-height: 40px;
    border: 2px solid black;
    background-color: rgb(83, 80, 80);
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    
    @keyframes pulse {
        0% { transform: scale(1); }
        50% { transform: scale(1.1); }
        100% { transform: scale(1); }
      }

    button {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 120px;
        border-radius: 15%;
        background-color: rgb(148, 134, 134);
        cursor: pointer;
    }
    button a {
        color: inherit; 
        display: inline-block; 
        text-decoration: none;
        color: white;
        font-family: $font-family; 
    }
    button:hover, a:hover {
        background-color: $hover-color;
        color: red;
        transition: background-color 0.3s ease;
        text-decoration: none;
    }
}

/* CSS DO index.html*/
  main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    .meio {
        display: grid;
        border: 1px solid black;
        background-color: rgba(255, 255, 255, 0.267);
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 10%;
        margin-bottom: 15px;
        height: auto;
        overflow: hidden;
        opacity: 0.7;
        animation: slideIn 1.5s ease-in-out; 
      }
      .meio:nth-child(1) {
        animation-delay: 0s;
      }
      
      .meio:nth-child(2) {
        animation-delay: 0.5s;
      }
      
      .meio:nth-child(3) {
        animation-delay: 1s;
      }
  }
  
  h1, h2, h3 {
    display: flex;
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px 4px #000;  
    font-weight: bold;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 2em;
    animation: pulse 1.5s infinite;
  }
  
  .temaprincipal {
    font-size: 1.2rem;
    color: #fff;
    text-align: justify;
    line-height: 1.5;
  }
/* CSS DA PAGINA produtos.html */
.container-produtos {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    flex-wrap: wrap;
     .divcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

     .compreaqui {
        display: flex;
        padding: 5px;
        animation: pulse 1.5s infinite;
        width: 150px; 
        border-radius: 15px;
        background-color: $background-color;
        color: white;
        font-family: $font-family;
        font-size: large;
        cursor: pointer;
        &:hover {
                background-color: red;
                color: #000;
        }
    }
    .produtovenda {
        display: flex;
        border: 3px solid black;
        margin: 20px;
        height: 300px;
        align-items: center;
        justify-content: center;
        transition: transform 0.5s ease; 
        &:hover {
            transform: scale(1.8);
    }
    .container-vendas {
        display: flex;
        color: $text-color;
        border-radius: 10px;
        margin: 10px;
    }
    }
    .spanvendas {
        display: flex;
        margin: 8px;
        font-size: 1.5em;
        color: rgb(197, 154, 36);
    }
    .textovendas {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 10px;
        border: 1px solid black;
        text-align: justify;
        height: 35px;
        line-height: 1.5;
        width: 270px;
        border-radius: 10px;
        color: $text-color;
        background-color: rgba(20, 38, 56, 0.685);
        overflow: hidden;
        transition: height 2s ease;
        &:hover {
            height: 250px;
        }
       
    }
    .preco {
        display: flex;
        flex-direction: column;
        padding: 10px;
        font-family: Arial, sans-serif;
        font-size: 1.2rem;
        text-align: center;
        margin-top: 10px;
        color: #d6c8c8;
        border-radius: 10px;
        background-color: black;
    }
    
    .preco-antigo {
        text-decoration: line-through;
        color: #776969;
        font-size: 1.5rem;
    }
    
    .preco-atual {
        color: #1abd3d;
        font-size: 2.0rem;
        font-weight: bold;
        animation: pulse 1.5s infinite;
    }
}
/* CSS DA PAGINA download.index*/
.container-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: white;
    width: 300px;
    margin: 0 auto;
    gap: 50px;

        .image-conteiner {
        border: 1px solid red;
        height: 300px;
        width: 200px;
        margin: 10px;
        transition: transform 0.5s ease; 
                &:hover {
            transform: scale(1.1);
            }
    }
        .titulospan {
        margin-bottom: 10px;
        font-size: large;
        font-weight: bold;
        text-shadow: 2px 2px 4px #000;  
        color: red;
        animation: pulse 1.5s infinite;
    }
        .texto {
        padding: 10px;
        margin: 10px;
        border: 1px solid black;
        text-align: justify;
        height: 25px;
        line-height: 1.5;
        width: 180px;
        border-radius: 10px;
        background-color: rgba(20, 27, 34, 0.685);
        overflow: hidden;
        transition: height 2s ease;
        &:hover {
            height: 550px;
        }
    }
}
/* Codigo do footer e span */
footer {
    display: flex;
    grid-template-columns: 1fr;
    border: 2px solid black;
    background-color: rgb(80, 68, 68);
    color: rgba(255, 255, 255, 0.555);
    padding: 15px;
    margin: 10px;
    row-gap: 8px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
span {
    display: flex;
    color: white;
    justify-content: center;
    font-size: smaller;
}
footer a {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    width: 150px;
    border-radius: 25%;
}
.imgfooter {
    display: flex;
    width: 20px;
    height: 20px;
    margin-right: 8px; 
}
.imgfooter:hover, .socialink:hover {
    background-color: black;
    transition: backgroundcolor 0.3s ease;
}

.card {
    background-color: #5a545441; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    color: white;
}
.card-title {
    font-weight: bold;
    color: #e6dede;
}
/* Codigo da pagina table*/
.imgstrap {
    display: flex;
    justify-content: center;
    height: 350px;
    width: 250px;
    border: 2px solid black;
}
.card {
    height: auto;
    width: 250px;
    height: 50px;
    margin-top: 20px;
    background-color: rgba(20, 27, 34, 0.685);
    overflow: hidden;
    transition: height 2s ease, opacity 0.5s ease;
    text-align: justify;
    border-radius: 10px;
    h5 {
        text-align: center;
        margin-bottom: 10px;
        font-size: large;
        font-weight: bold;
        text-shadow: 2px 2px 4px #000;  
        color: red;
        animation: pulse 1.5s infinite;
    }
    &:hover {
        height: 420px;
    }
}
/* Media para telas desktop*/
@media (min-width: $breakpoint-large) {
    .container-box {
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
    }
    .image-conteiner {
        height: 300px;
        width: 200px;
        margin: 0 30px;
    }
    .texto {
        margin: 30px;
    }
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}